1. Find the total sales made by the company Marico

2. Find the highest and the least sales of the company along with its Quater

3. Find out the quaters which are earning more than 130 crs.

4. Find the difference in half yearly performance of the company

5. If the total sales of Marico in the financial year 2022-23 was 180 billions find out the difference in this years performance.

6. If the expected sales for the next year is 600 crores, find out the difference in this years and next years performance and create a new daaframe to store the details.

7. Find out the average performance of the company for the financial year 22-23. Check out the deviation from the past year if the average sales is found to be 45 billion dollars.

In [1]:
import pandas as pd
df = pd.DataFrame({'Quaters': ['Q1', 'Q2','Q3','Q4'], 'Sales(inCrores)': [100,120,90,150] })
df

  Quaters  Sales(inCrores)
0      Q1              100
1      Q2              120
2      Q3               90
3      Q4              150

In [15]:
#Question_1
# Find the total sales made by the company Marico
print("The total sales by the company is", df['Sales(inCrores)'].sum(), "Crores.")
print("The least sales of Marico is in and it's", df['Sales(inCrores)'].min(), "Crores.")

The total sales by the company is 460 Crores.
The least sales of Marico is in and it's 90 Crores.

In [19]:
#Question_2
#Find the highest and the least sales of the company along with its Quater
min_sales = df['Sales(inCrores)'].min()
corr_qua = df[df['Sales(inCrores)'] == min_sales]
print(corr_qua)
corr_qua = df[df['Sales(inCrores)'] == min_sales]['Quaters']
print(corr_qua)
corr_qua = df[df['Sales(inCrores)'] == min_sales]['Quaters'].values[0]
print(f"The least sales of Marico is in {corr_qua} and its {min_sales} Crores.")

max_sales = df['Sales(inCrores)'].max()
corr_qua = df[df['Sales(inCrores)'] == max_sales]['Quaters'].values[0]
print(f"The maximum sales of Marico is in {corr_qua} and its {max_sales} Crores.")

  Quaters  Sales(inCrores)
2      Q3               90
2    Q3
Name: Quaters, dtype: object
The least sales of Marico is in Q3 and its 90 Crores.
The maximum sales of Marico is in Q4 and its 150 Crores.

In [17]:
#Question3
#Find out the quaters which are earning more than 130 crs.
for i in df['Sales(inCrores)']:
    if i > 130:
        corr_qua = df[df['Sales(inCrores)'] ==i]['Quaters'].values[0]
        print(f"The Quaters earning above 130 is {corr_qua}.")

The Quaters earning above 130 is Q4.

In [5]:
#Question4
#Find the difference in half yearly performance of the company
tot_FirstHalf_sales = df['Sales(inCrores)'].values[0] + df['Sales(inCrores)'].values[1]
tot_SecHalf_sales = df['Sales(inCrores)'].values[2] + df['Sales(inCrores)'].values[3]
diff_qua_sales = tot_SecHalf_sales - tot_FirstHalf_sales
print(f"Total Sales in the First Half is {tot_FirstHalf_sales} crores. ")
print(f"Total Sales in the Second Half is {tot_SecHalf_sales} crores.")
print(f"Total difference in the half yearly sales is {diff_qua_sales} crores.")
print(f"The percentage change is given by {round((diff_qua_sales/tot_FirstHalf_sales)*100,2)}")

Total Sales in the First Half is 220 crores.
Total Sales in the Second Half is 240 crores.
Total difference in the half yearly sales is 20 crores.
The percentage change is given by 9.09

In [6]:
#10 lakhs = 1 million
# 1 crores = 10 million
# 100 crores = 1 billion
#1 billion = 1000 million
tot_sales22_23 = 18000
tot_sales23_24 = tot_FirstHalf_sales + tot_SecHalf_sales
print(f"The difference between the sales of the financial year 22-23 and 23-24 is {tot_sales22_23 - tot_sales23_24}")

The difference between the sales of the financial year 22-23 and 23-24 is 17540

In [7]:
exp_sales_2425 = 600
diff_2324_2425 = exp_sales_2425 - tot_sales23_24
print(f"The difference between the sales of the financial year 23-24 and 24-25 is {diff_2324_2425} crores")

The difference between the sales of the financial year 23-24 and 24-25 is 140 crores

In [8]:
s = 0
for i in range(0,4):
    s= s + df['Sales(inCrores)'][i]
avg_sales_2223 = s/(len(df['Sales(inCrores)']))
print(f"The average sales of the financial year 22-23 is {avg_sales_2223} crores.")
#45 billion = 4500 crores.
avg_sales_2122 = 4500

The average sales of the financial year 22-23 is 115.0 crores.

In [9]:
dev_avg_sales = avg_sales_2122 - avg_sales_2223
print(f"The deviation/differnce in the average sales of the financial years 21-22 and 22-23 is {dev_avg_sales}")

The deviation/differnce in the average sales of the financial years 21-22 and 22-23 is 4385.0

In [10]:
x = 25
print(id(x))
x = 26
print(id(x))
y = 26
print(id(y))

140714718389800
140714718389832
140714718389832

In [11]:
x = [25, 26]
print(id(x))
x = [26,26]
print(id(x))
y = [25, 26]
print(id(y))

2004295773760
2004295921728
2003904109888

In [12]:
def update(x):
    x=8
    print(x)
    print(a)
a = 10
update(a)

8
10