In [4]:
import pandas as pd
data = [110001,800001,560029,600001]
df = pd.DataFrame(data, columns = ['Pincode'])
Place = ['Delhi', 'Patna','Bangalore', 'Chennai' ]
PLACE_TYPE = ['Urban','Suburb', 'Urban', 'Suburb']
df['PLACE'] = Place
df['PLACE_TYPE'] = PLACE_TYPE
df.rename(columns = {'Pincode':'PINCODE'}, inplace = True)
print("df contains the following content:\n",df)
print("df Sorted according to PLACE:\n",df.sort_values(by=['PLACE']))
print("df Sorted according to PLACE:\n",df.sort_values(by=['PLACE_TYPE']))
print("df Sorted according to PLACE_TYPE followed by PINCODE: \n",
df.sort_values(by=['PLACE_TYPE','PINCODE']))

df contains the following content:
    PINCODE      PLACE PLACE_TYPE
0   110001      Delhi      Urban
1   800001      Patna     Suburb
2   560029  Bangalore      Urban
3   600001    Chennai     Suburb
df Sorted according to PLACE:
    PINCODE      PLACE PLACE_TYPE
2   560029  Bangalore      Urban
3   600001    Chennai     Suburb
0   110001      Delhi      Urban
1   800001      Patna     Suburb
df Sorted according to PLACE:
    PINCODE      PLACE PLACE_TYPE
1   800001      Patna     Suburb
3   600001    Chennai     Suburb
0   110001      Delhi      Urban
2   560029  Bangalore      Urban
df Sorted according to PLACE_TYPE followed by PINCODE:
    PINCODE      PLACE PLACE_TYPE
3   600001    Chennai     Suburb
1   800001      Patna     Suburb
0   110001      Delhi      Urban
2   560029  Bangalore      Urban

In [8]:
df1 = pd.DataFrame({"a":[1, 2, 3, 4],
                    "b":[5, 6, 7, 8]})
print(df1)
df2 = pd.DataFrame({"a":[1, 2, 3],
"b":[5, 6, 7],
"c":[1, 5, 4]})
print(df2)

   a  b
0  1  5
1  2  6
2  3  7
3  4  8
   a  b  c
0  1  5  1
1  2  6  5
2  3  7  4

In [9]:
newdf=df1.append(df2, ignore_index = True)
print("newdf", newdf)

AttributeError: 'DataFrame' object has no attribute 'append'

In [10]:
# for computing correlations
print("correlation: \n",df2.corr())
# computes numerical data ranks
print("Rank: \n", df2.rank())

correlation:
           a         b         c
a  1.000000  1.000000  0.720577
b  1.000000  1.000000  0.720577
c  0.720577  0.720577  1.000000
Rank:
      a    b    c
0  1.0  1.0  1.0
1  2.0  2.0  3.0
2  3.0  3.0  2.0

In [11]:
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
'Age':[27, 24, 22, 32],
'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
df = pd.DataFrame(data)
print("DF", df)

print(df[['Name', 'Qualification']])

DF      Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd
     Name Qualification
0     Jai           Msc
1  Princi            MA
2  Gaurav           MCA
3    Anuj           Phd

In [12]:
bc_df = pd.read_csv("dataset.csv")
bc_df

,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,fractal_dimension_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,diagnosis
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,0.2419,0.07871,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,1
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,0.1812,0.05667,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,1
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,0.2069,0.05999,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,1
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,0.2597,0.09744,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,1
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,0.1809,0.05883,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,0.1726,0.05623,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,1
565,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,0.1752,0.05533,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,1
566,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,0.1590,0.05648,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,1
567,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,0.2397,0.07016,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,1
568,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,0.1587,0.05884,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,0

In [21]:
ser = pd.Series(bc_df['diagnosis'])
ser.head(20)

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    0
Name: diagnosis, dtype: int64

In [23]:
bc_df[['diagnosis', 'radius_mean']]

     diagnosis  radius_mean
0            1        17.99
1            1        20.57
2            1        19.69
3            1        11.42
4            1        20.29
..         ...          ...
564          1        21.56
565          1        20.13
566          1        16.60
567          1        20.60
568          0         7.76

[569 rows x 2 columns]

In [25]:
# retrieving rows by iloc method
row2 = bc_df.iloc[1:3]
row2

,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,fractal_dimension_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,diagnosis
1,20.57,17.77,132.9,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,23.41,158.8,1956.0,0.1238,0.1866,0.2416,0.186,0.2750,0.08902,1
2,19.69,21.25,130.0,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,25.53,152.5,1709.0,0.1444,0.4245,0.4504,0.243,0.3613,0.08758,1

In [28]:
row2 = bc_df.iloc[0,0]
row2

17.99

In [38]:
data = pd.read_csv("dataset.csv", index_col ="diagnosis")
data
malignant = data.loc[1]
malignant

,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,fractal_dimension_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
diagnosis,,,,,,,,,,,,,,,,,,,,,
1,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,0.2419,0.07871,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,0.1812,0.05667,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
1,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,0.2069,0.05999,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
1,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,0.2597,0.09744,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
1,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,0.1809,0.05883,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,20.92,25.09,143.00,1347.0,0.10990,0.22360,0.31740,0.14740,0.2149,0.06879,...,24.29,29.41,179.10,1819.0,0.1407,0.4186,0.6599,0.2542,0.2929,0.09873
1,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,0.1726,0.05623,...,25.45,26.40,166.10,2027.0,0.1410,0.2113,0.4107,0.2216,0.2060,0.07115
1,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,0.1752,0.05533,...,23.69,38.25,155.00,1731.0,0.1166,0.1922,0.3215,0.1628,0.2572,0.06637
1,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,0.1590,0.05648,...,18.98,34.12,126.70,1124.0,0.1139,0.3094,0.3403,0.1418,0.2218,0.07820
1,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,0.2397,0.07016,...,25.74,39.42,184.60,1821.0,0.1650,0.8681,0.9387,0.2650,0.4087,0.12400

In [40]:
begign = data.loc[0]
begign

,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,fractal_dimension_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
diagnosis,,,,,,,,,,,,,,,,,,,,,
0,13.540,14.36,87.46,566.3,0.09779,0.08129,0.06664,0.047810,0.1885,0.05766,...,15.110,19.26,99.70,711.2,0.14400,0.17730,0.23900,0.12880,0.2977,0.07259
0,13.080,15.71,85.63,520.0,0.10750,0.12700,0.04568,0.031100,0.1967,0.06811,...,14.500,20.49,96.09,630.5,0.13120,0.27760,0.18900,0.07283,0.3184,0.08183
0,9.504,12.44,60.34,273.9,0.10240,0.06492,0.02956,0.020760,0.1815,0.06905,...,10.230,15.66,65.13,314.9,0.13240,0.11480,0.08867,0.06227,0.2450,0.07773
0,13.030,18.42,82.61,523.8,0.08983,0.03766,0.02562,0.029230,0.1467,0.05863,...,13.300,22.81,84.46,545.9,0.09701,0.04619,0.04833,0.05013,0.1987,0.06169
0,8.196,16.84,51.71,201.9,0.08600,0.05943,0.01588,0.005917,0.1769,0.06503,...,8.964,21.96,57.26,242.2,0.12970,0.13570,0.06880,0.02564,0.3105,0.07409
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,14.590,22.68,96.39,657.1,0.08473,0.13300,0.10290,0.037360,0.1454,0.06147,...,15.480,27.27,105.90,733.5,0.10260,0.31710,0.36620,0.11050,0.2258,0.08004
0,11.510,23.93,74.52,403.5,0.09261,0.10210,0.11120,0.041050,0.1388,0.06570,...,12.480,37.16,82.28,474.2,0.12980,0.25170,0.36300,0.09653,0.2112,0.08732
0,14.050,27.15,91.38,600.4,0.09929,0.11260,0.04462,0.043040,0.1537,0.06171,...,15.300,33.17,100.20,706.7,0.12410,0.22640,0.13260,0.10480,0.2250,0.08321
0,11.200,29.37,70.67,386.0,0.07449,0.03558,0.00000,0.000000,0.1060,0.05502,...,11.920,38.30,75.19,439.6,0.09267,0.05494,0.00000,0.00000,0.1566,0.05905
0,7.760,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.000000,0.1587,0.05884,...,9.456,30.37,59.16,268.6,0.08996,0.06444,0.00000,0.00000,0.2871,0.07039

In [43]:
### Working with notnull() and isnull() methods
import pandas as pd
import numpy as np
# dictionary of lists
dict1 = {'First Score':[100, 90, np.nan, 95],
'Second Score': [30, 45, 56, np.nan],
'Third Score':[np.nan, 40, 80, 98]}
# creating a dataframe from list
dfn = pd.DataFrame(dict1)
print(dfn)
# using isnull() function
print(dfn.isnull())
# using notnull() function
print(dfn.notnull())
# handling missing values using fillna() and dropna()
#df.fillna("INF")
#df.fillna(0)
# df.dropna()

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2          NaN          56.0         80.0
3         95.0           NaN         98.0
   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False
   First Score  Second Score  Third Score
0         True          True        False
1         True          True         True
2        False          True         True
3         True         False         True

In [45]:
dfn.fillna("INF")

  First Score Second Score Third Score
0       100.0         30.0         INF
1        90.0         45.0        40.0
2         INF         56.0        80.0
3        95.0          INF        98.0

In [46]:
dfn.dropna() #drop all the columns with the null values.

   First Score  Second Score  Third Score
1         90.0          45.0         40.0

In [50]:
print(f"Total Columns is {len(dfn.columns)}")
print(f"Total Rows in the dataset is {len(df)}")

Total Columns is 3
Total Rows in the dataset is 4

In [54]:
for i, j in dfn.iterrows():
    print(i)
    print(j) # j returns the each colum

0
First Score     100.0
Second Score     30.0
Third Score       NaN
Name: 0, dtype: float64
1
First Score     90.0
Second Score    45.0
Third Score     40.0
Name: 1, dtype: float64
2
First Score      NaN
Second Score    56.0
Third Score     80.0
Name: 2, dtype: float64
3
First Score     95.0
Second Score     NaN
Third Score     98.0
Name: 3, dtype: float64

In [58]:
columns = list(dfn)
print("column details:", columns)
for i in columns:
    print("Value of i", i)
    print (dfn[i]) ### Printing All columns
    print (dfn[i],[1])### Printing 2nd column only

column details: ['First Score', 'Second Score', 'Third Score']
Value of i First Score
0    100.0
1     90.0
2      NaN
3     95.0
Name: First Score, dtype: float64
0    100.0
1     90.0
2      NaN
3     95.0
Name: First Score, dtype: float64 [1]
Value of i Second Score
0    30.0
1    45.0
2    56.0
3     NaN
Name: Second Score, dtype: float64
0    30.0
1    45.0
2    56.0
3     NaN
Name: Second Score, dtype: float64 [1]
Value of i Third Score
0     NaN
1    40.0
2    80.0
3    98.0
Name: Third Score, dtype: float64
0     NaN
1    40.0
2    80.0
3    98.0
Name: Third Score, dtype: float64 [1]

MERGING OF TWO DATAFRAMES

In [61]:
d1 = bc_df[['diagnosis','texture_mean']]
d2 = bc_df[['diagnosis','radius_mean']]
d3 = pd.merge(d1,d2)
d3

        diagnosis  texture_mean  radius_mean
0               1         10.38        17.99
1               1         10.38        20.57
2               1         10.38        19.69
3               1         10.38        11.42
4               1         10.38        20.29
...           ...           ...          ...
172388          0         24.54        14.59
172389          0         24.54        11.51
172390          0         24.54        14.05
172391          0         24.54        11.20
172392          0         24.54         7.76

[172393 rows x 3 columns]

In [64]:
d4 = pd.concat([d1,d2])
d4

     diagnosis  texture_mean  radius_mean
0            1         10.38          NaN
1            1         17.77          NaN
2            1         21.25          NaN
3            1         20.38          NaN
4            1         14.34          NaN
..         ...           ...          ...
564          1           NaN        21.56
565          1           NaN        20.13
566          1           NaN        16.60
567          1           NaN        20.60
568          0           NaN         7.76

[1138 rows x 3 columns]

## Data munging
#### Also known as data wrangling, is the process of cleaning, transforming, and enriching raw data into a more structured and usable format

In [65]:
data = {
    'EmployeeID': [101, 102, 103, 104, 105],
    'FirstName': ['John', 'Alice', 'Bob', 'Eva', 'David'],
    'LastName': ['Doe', 'Smith', 'Johnson', 'Lee', 'Brown'],
    'Salary': ['$60,000', '$55,000', '$70,000', '$62,000', '$58,000'],
    'HireDate': ['2022-01-15', '2021-03-10', '2022-05-20', '2020-12-05', '2022-08-30']
}

dm = pd.DataFrame(data)
dm

   EmployeeID FirstName LastName   Salary    HireDate
0         101      John      Doe  $60,000  2022-01-15
1         102     Alice    Smith  $55,000  2021-03-10
2         103       Bob  Johnson  $70,000  2022-05-20
3         104       Eva      Lee  $62,000  2020-12-05
4         105     David    Brown  $58,000  2022-08-30

In [69]:
# Data Munging Steps


# 1. Convert the 'HireDate' column to a datetime object
dm['HireDate'] = pd.to_datetime(dm['HireDate'])

# 2. Create a new column 'YearsSinceHire' based on the 'HireDate'
dm['YearsSinceHire'] = pd.Timestamp.now().year - dm['HireDate'].dt.year

# 3. Sort the DataFrame by 'Salary' in descending order
dm = dm.sort_values(by='Salary', ascending=False)

# 4. Reset the index of the DataFrame
dm = dm.reset_index(drop=True)

# Display the munged DataFrame
print("\nMunged DataFrame:")
print(dm)

Munged DataFrame:
   EmployeeID FirstName LastName  Salary   HireDate  YearsSinceHire
0         103       Bob  Johnson   70000 2022-05-20               1
1         104       Eva      Lee   62000 2020-12-05               3
2         101      John      Doe   60000 2022-01-15               1
3         105     David    Brown   58000 2022-08-30               1
4         102     Alice    Smith   55000 2021-03-10               2