### INDEXING, FILTERING

In [38]:
import pandas as pd 
df = pd.DataFrame({"A": [1,5,7,8],
                    "B": [5,8,4,3],
                    "C": [10,4,9,3],
                    "D": [5,3,3,3]})
#fancy indexing
#accesing the data without continuity
print("Fancy Indexing")
print(df[['A','C']])

#hybrid indexing
print("Hybrid Indexing")
# x2 = df.ix[:0,'B':'C']
x2 = df.loc[:0,'B':'C']
print(x2)

Fancy Indexing
   A   C
0  1  10
1  5   4
2  7   9
3  8   3
Hybrid Indexing
   B   C
0  5  10

In [14]:
colAD = df[['A','D']]
colAD

   A  D
0  1  5
1  5  3
2  7  3
3  8  3

In [27]:
df1 = pd.DataFrame({"NAme":['Anuja','Firhan','Jiz', 'Dristi', 'Dristi'],"Attempts": [0,2,1,1,1],"Grade": ["F","A","B","A","B"]})
print(df1)

     NAme  Attempts Grade
0   Anuja         0     F
1  Firhan         2     A
2     Jiz         1     B
3  Dristi         1     A
4  Dristi         1     B

In [17]:
#Filtering the rows of a column
df1_filtered = df1[df1['Attempts']<1]
print(df1_filtered)

    NAme  Attempts Grade
0  Anuja         0     F

In [18]:
df1.drop(df1[df1['Attempts']<1].index, inplace = True)
print(df1)

     NAme  Attempts Grade
1  Firhan         2     A
2     Jiz         1     B
3  Dristi         1     A

In [29]:
#Unique rows of a column
unqs = df1.NAme.unique()
unqs = df1[['NAme']].drop_duplicates(keep = 'first') #first retuns the only the first row of the duplicated rows, last gives last, False don't give any
unqs

     NAme
0   Anuja
1  Firhan
2     Jiz
3  Dristi

In [31]:
# Removing duplicate rows of a column
df1.sort_values("Attempts", inplace =True)
print(df1[df1["Attempts"].duplicated()])

     NAme  Attempts Grade
3  Dristi         1     A
4  Dristi         1     B

In [37]:
d = {"A": [10,2,4], "B": [3,5,7]}
df3 = pd.DataFrame(d)


#to evaluate the sum over all columns

df3 = df3.eval("Sum = A + B")
df3

    A  B  Sum
0  10  3   13
1   2  5    7
2   4  7   11